apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root
  namespace: argocd
spec:
  project: diiagefinals
  source:
    repoURL: https://github.com/lube-2401/diiage-finals
    targetRevision: main
    path: gitops/apps_definition

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
